/* 
    Document   : jcarousel
    Created on : Jan 17, 2013, 3:27:59 PM
    Author     : aalonso
    Description:
        Purpose of the stylesheet follows.
*/

.jcarousel-skin-tango {
	margin-top:-10px
}

.jcarousel-skin-tango .jcarousel-container { }

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:100%;
    padding:0;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height:272px;
	padding-left:31px;
	padding-top:5px;
	width:725px
}

	#prod-visited .jcarousel-skin-tango .jcarousel-clip-horizontal {
		width:450px
	}

.jcarousel-skin-tango .jcarousel-item {
    height:100%;
    width:112px;
}

	#prod-visited .jcarousel-skin-tango .jcarousel-item {
		width:125px
	}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right:16px;
	padding-left:17px
}

	#prod-visited .jcarousel-skin-tango .jcarousel-item-horizontal {
		margin-right:6px;
		padding-left:19px
	}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background:#fff;
    color:#000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position:absolute;
    top:0;
    right:0;
    width:32px;
    height:276px;
    cursor:pointer;
    background:transparent url(var(root)/locales/global/img/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left:5px;
    right:auto;
    background-image:url(var(root)/locales/global/img/prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position:absolute;
    top:0;
    left:0;
    width:32px;
    height:276px;
    cursor:pointer;
    background:transparent url(var(root)/locales/global/img/prev-horizontal.png) no-repeat 0 0;
}

.ec-carousel .ec-photo img {
	height:90px;
	width:90px
}

