/* 
    Document   : style
    Created on : Jan 10, 2013, 12:32:17 PM
    Author     : aalonso
    Description:
*/
html, body{ 
 margin:0; 
 padding:0; 
 } 
 
#pagewidth{ }
 
#leftcol{
 width:20%; 
 float:left; 
 position:relative; 
 background-color:#26265F; 
 }
 
#maincol{
 background-color:#DCDCE6;  
 position: relative; 
 }
 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
